POSTGRES_DB=spm
POSTGRES_MIGRATION_USER=spm_migrate
POSTGRES_MIGRATION_PASSWORD=spm_migrate_local_only
POSTGRES_APP_USER=spm_app
POSTGRES_APP_PASSWORD=spm_app_local_only
REDIS_PASSWORD=spm_redis_local_only
ALLOWED_ORIGINS=http://localhost:3010
